* { margin: 0; padding: 0; box-sizing: border-box; }

body main {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

body main canvas {
    border: 1px solid #000000;
}